.title{
    font-size: 24px;
    font-weight: 600;
}

.number h1{
    width: 20px;
}

.event-box{
    color: white;
    background-color: rgb(142, 45, 211);
}

.HotimgContainer{
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.HotimgContainer img{
    width: 100px;
    height: auto;
}