.information-container{
    width: 90%;
}

.event-banner{
    max-height: 65vh;
}

.event-banner img{
    height: fit-content;
}

.sub-title{
    font-size: 22px;
    font-weight: 500;
}

.map{
    max-height: 65vh;
}

.map img{
    height: fit-content;
}