
.ticket{
    border: solid 1px black;
}

.side-ticket{
    /* width: 25%; */
    height: fit-content;
    /* position: fixed; */
    /* overflow-y: auto; */
    /* right: 5%; */
}

.ticket .title{
    font-weight: 700;
    font-size: 25px;
}

.ticket .price{
    color: orange;
    font-weight: 700;
    font-size: 25px;
}

.ticket .counter{
    width: 20px;
}

.ticket-btn button{
    border: none;
}

.get-ticket{
    font-weight: 700;
    border: none;
    color: white;
    background-color: #424242;
}